# Python Types

## Integer Value

In [1]:
stock_price = 100

In [2]:
stock_price # Note this is printing it straight to the console

100

In [3]:
print(stock_price)

100

## Float Value

In [5]:
stock_price2 = 100.55

In [6]:
stock_price2

100.55

## String

In [7]:
stock_ticker = "AAPL"

In [8]:
print(stock_ticker)

AAPL

## Booleans

In [9]:
stock_buy = True

In [10]:
print(stock_buy)

True

## Primitive Variable Operations

### Numeric

In [11]:
100+100

200

In [12]:
100-100

0

In [13]:
#eg:

In [14]:
stock_price * 2

200

In [16]:
#because the variable is == to 100, so * 2 = 200.

### Strings

In [17]:
"AAPL" * 10

'AAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPLAAPL'

In [18]:
"AAPL" + "Dog"

'AAPLDog'

In [19]:
#etc

## Typecasting

In [20]:
#eg

stock_price + "AAPL" --> cannot turn AAPL into an integer value

In [23]:
#eg

In [24]:
stock_ticker + str(stock_price)

'AAPL100'

Here we turned the integer value 100 into a string value of 100

### Values of Typecasting

In [25]:
str()

''

In [26]:
int()

0

In [27]:
float()

0.0

In [28]:
bool()

False

In [30]:
#eg

In [31]:
str(stock_price) + str(stock_price2)

'100100.55'

we turned both values of integers stock_price and stock_price2 into string values and also concatenated them

In [32]:
#eg

In [33]:
int(stock_price2)

100

normally if we just called the variable stock_price2 we would get out 100.55, but because we turned it into an integer it removes the decimal values

## Modifying Variables

In [63]:
stock_price = 100

In [64]:
print(stock_price)

100

In [65]:
stock_price3 = stock_price

In [66]:
print(stock_price3)

100

In [67]:
stock_price += 10

In [68]:
print(stock_price)

110

In [69]:
print(stock_price3)

100

This is known as pass by value

because stock_price3 was referenced before the value change, it still only will output the previous value of stock_price

### Variable modification

In [70]:
print(stock_price3)

100

In [92]:
stock_price * 100

11000

### Combining Operations

In [72]:
10/5/5

0.4

this is 10 / 5, then dividing that output by 5 again.

make sure you have parenthesis and wrap everything so order of operations works, eg:

In [73]:
10 + (5*5)

35

## Lists, Sets, Dictionaries

### Lists

Lists are 'Type Agnostic'

In [79]:
stock_prices = [100, 200, 205, 210, 3000, "House", "Dog", True]

In [80]:
print(stock_prices)

[100, 200, 205, 210, 3000, 'House', 'Dog', True]

In [82]:
print(stock_prices[6])

Dog

Here we indexed a specific value of the list --> position 6 = Dog

### Slice notaton, for accessing a portion of the list

In [83]:
print(stock_prices[1:3])

[200, 205]

This says, start at index 1 and grab index until index (not including) 3.

In [84]:
print(stock_prices[2:])

[205, 210, 3000, 'House', 'Dog', True]

This says start at index 2, and grab every value passed that in the list until the list is done.

Slice notation can also be used for strings, Eg:

In [86]:
print(stock_ticker)

AAPL

In [89]:
print(stock_ticker[:3])

AAP

### Sets

In [90]:
list_1 = [stock_price, stock_price2, stock_price3, stock_price]

In [93]:
print(list_1)

[110, 100.55, 100, 110]

converting the list to a set:

In [94]:
set(list_1)

{100, 100.55, 110}

Sets remove duplicates, but does not order specfically although it may seem it does.

In [96]:
tickers = ["AAPL", "AMZN", "GOOG", "AAPL", "AMZN"]

In [97]:
print(tickers)

['AAPL', 'AMZN', 'GOOG', 'AAPL', 'AMZN']

The above is a list, where as we are now going to make a set:

In [98]:
set(tickers)

{'AAPL', 'AMZN', 'GOOG'}

### Dictionaries

The backbone of pretty much any data set.
Essentially taking a 'key' and looking to retrieve a 'value' an example would be a Ticker to Stock Price 'map':

In [100]:
dict_tickers = {"AAPL" : 150, "GOOG" : 2000}

In [102]:
print(dict_tickers["AAPL"])

150

APPL is the "Key" and the "Value" is 150. Also notice to create the dict we use {} and to call it we use []

In [104]:
print(dict_tickers["GOOG"])

2000

# Lists, Set, and Dictionary Operations

## Lists

In [105]:
list_2 = [100,200,300,400]

In [106]:
print(list_2)

[100, 200, 300, 400]

In [107]:
type(list_2)

list

In [108]:
list_2.append(500)

In [109]:
print(list_2)

[100, 200, 300, 400, 500]

Notice with 'append' we added the value 500 to the list.  You can also do algebra to lists, eg: multiplication, addition etc.

## Sets

In [110]:
dataset_1_tickers = set(["AAPL", "AMZN", "GOOG"])

In [112]:
dataset_2_tickers = set(["AAPL", "AMZN", "TSLA"])

In [113]:
print(dataset_1_tickers)

{'AMZN', 'GOOG', 'AAPL'}

In [114]:
print(dataset_2_tickers)

{'TSLA', 'AMZN', 'AAPL'}

Lets find the intersection (think probability where intersection means both sets have that specific value).

In [116]:
dataset_1_tickers.intersection(dataset_2_tickers)

{'AAPL', 'AMZN'}

Therefore both AAPL and AMZN overlap in both sets of dataset_1_tickers and dataset_2_tickers.

## Dictionaries

In [117]:
ticker_map = {"AAPL" : "Apple", "GOOG" : "Google", "AMZN" : "Amazon"}

In [118]:
print(ticker_map["AAPL"])

Apple

Can use the "Values" to map to the "Keys" OR we can use the "Keys" to get the "Values".

In [120]:
print(ticker_map.keys())

dict_keys(['AAPL', 'GOOG', 'AMZN'])

In [121]:
print(ticker_map.values())

dict_values(['Apple', 'Google', 'Amazon'])